{
    "extends": "@antfu",
    "rules": {
        "jsonc/indent": "off",
        "prefer-spread": "off",
        "react/prop-types": [
            "off"
        ],
        "react/display-name": "off",
        "no-console": "off",
        "no-new": "off",
        "import/export": "off",
        "eol-last": "off"
    },
    "overrides": [
        {
            "files": [
                "playground/**/*.*"
            ],
            "rules": {
                "no-restricted-imports": "off"
            }
        },
        {
            "files": [
                "**/*.md/*.*",
                "*.ts"
            ],
            "rules": {
                "no-restricted-imports": "off",
                "no-restricted-syntax": "off",
                "no-labels": "off",
                "@typescript-eslint/no-unused-vars": "off",
                "@typescript-eslint/no-var-requires": "off",
                "@typescript-eslint/ban-ts-comment": "off",
                "@typescript-eslint/no-redeclare": "off"
            }
        }
    ]
}